body {
    width: 300px;
    height: 100px;
    background-color: #192133;
    text-align: center;
    border-radius: 15px;
}

h1 {
    font-weight: 500;
}

h1, p {
    color: white;
}
p {
    font-weight: 100;
    font-size: 20px;
    margin: 0;
    margin-right: 10px;
}

input {
    color: #3e4dec;
    font-weight: 600;
    text-align: center;
    width: 45px;
    border: none;
    height: 40px;
    border-radius: 5px;
    font-size: 30px;
    padding: 0;
    background-color: transparent;
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
}

input::placeholder {
    color: #3e4dec;
    opacity: .5;
}

/* Hide placeholder on click*/
input:focus::placeholder { 
    color: transparent;
}

/* Hide blue highlight */ 
input:focus { 
    outline: none;
}

button {
    width: fit-content;
    background-color: #3e4dec;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: #d8d8d8;
    font-weight: 500;
    height: 40px;
    outline: none;
    padding: 0 20px 0 20px;
    font-weight: 600;
}

.vertical {
    display: flex;
    align-items: center;
    justify-content: center;
}



